*{
  
    /* padding-left: 30px;
    padding-right: 30px; */
}



#secoundhome-secound-section{
    padding-left: 50px;
    padding-right: 50px;
} 

.text-para{
    padding-left: 50px;
    padding-right: 50px;
}

.para{
    padding-top: 20px;
}